.shopping-list {
    width: 90%;
    margin: auto; 
    padding: 2.5%;
    color: whitesmoke;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }
  
  .shopping-list > li {
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .shopping-item {
    display: block;
    color: whitesmoke;
    font-style: italic;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin-bottom: 15px;
    text-transform: uppercase;
  }